@{
  Layout = "_Layout";
}
@using Factory.Models;

<h1>Welcome to the FACTORY</h1>

<div class="content-grid">
  <div class="content-card">
    @if (Model["Engineers"].Count ==0)
    {
      <h3>there are no Engineers employed! No one wants to work anymore!</h3>
      <p>@Html.ActionLink("Add Engineer", "Create", "Engineers")</p>
    }
    else
    {
      <h2>Workers on the floor</h2>
      <p>@Html.ActionLink("Add Engineer", "Create", "Engineers")</p>
      @foreach(Engineer engineer in Model["Engineers"])
      {
        <h3>@Html.ActionLink($"{engineer.Name}", "Details", "Engineers", new{id = engineer.EngineerId})</h3><br>
      }
    }
  </div>
  
  <div class="content-card">
    @if (Model["Machines"].Count == 0)
    {
      <h3>There are no machines to work on! they've been <em>STOOOOOLEN!</em></h3>
      <p>@Html.ActionLink("Add Machine", "Create", "Machines")</p>
    }
    else
    {
      <h2>Machines on the floor</h2>
      <p>@Html.ActionLink("Add Machine", "Create", "Machines")</p>
      @foreach(Machine machine in Model["Machines"])
      {
        <h3>@Html.ActionLink($"{machine.Name}", "Details", "Machines", new {id =machine.MachineId})</h3><br>
      }
    }
  </div>
</div>